In [57]:
import pandas as pd
df = pd.read_csv('GameSales.csv',encoding='latin')
df.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

#  a. Compute mean of a series grouped by another series

In [58]:
df.groupby(['Genre'])['Global'].mean()

Genre
Action              0.343605
Action-Adventure    0.563548
Adventure           0.102553
Fighting            0.370588
MMO                 0.760000
Misc                0.181429
Music               0.328571
Platform            0.080312
Puzzle              0.020909
Racing              0.382340
Role-Playing        0.356889
Shooter             1.317286
Simulation          0.119048
Sports              0.707167
Strategy            0.051667
Visual Novel        0.010000
Name: Global, dtype: float64

#  b. Fill an intermittent time series to replace all missing dates with values of previous non-missing date.

In [59]:
df.isnull().sum()  #to know which column contain null values

Pos                0
Game               0
Year             108
Genre              0
Publisher        108
North America      0
Europe             0
Japan              0
Rest of World      0
Global             0
dtype: int64

In [60]:
df['Year'].fillna(method='ffill',inplace=True)

In [61]:
df

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

In [62]:
df.isnull().sum()  #check if above code have worked or not

Pos                0
Game               0
Year               0
Genre              0
Publisher        108
North America      0
Europe             0
Japan              0
Rest of World      0
Global             0
dtype: int64

# c. Perform appropriate year-month string to dates conversion

In [63]:
from datetime import datetime

In [64]:
# date = list()
# for i in df['Year']:
#     date.append(datetime.strptime(str(i),'%Y.%M'))

# df['Year'] = date
# df

# value = '2011/01/03'
f = lambda x :datetime.strptime(str(int(x)), '%Y')

df['Year'] = df['Year'].apply(f)


df

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014-01-01,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015-01-01,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017-01-01,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018-01-01,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014-01-01,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018-01-01,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019-01-01,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017-01-01,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017-01-01,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019-01-01,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

#  d.)  Split a dataset to group by two columns and then sort the aggregated results within the groups

In [36]:

#It creates groups based on unique combinations of these two columns

# Group by  and  and calculate the mean within each group

#.reset_index(): The reset_index() function is used to reset the index of 

#the resulting DataFrame. When you perform a groupby and aggregation, the grouped columns

#('Genre' and 'Year' in this case) become part of the index. reset_index() moves these columns

#back to regular columns and gives the DataFrame a default integer index.



grouped = df.groupby(['Genre', 'Year']).agg({'Global': 'mean'}).reset_index()
grouped

           Genre       Year    Global
0         Action 2013-01-01  1.642500
1         Action 2014-01-01  0.938235
2         Action 2015-01-01  0.211860
3         Action 2016-01-01  0.165143
4         Action 2017-01-01  0.320000
..           ...        ...       ...
85      Strategy 2015-01-01  0.000000
86      Strategy 2016-01-01  0.055000
87      Strategy 2017-01-01  0.078889
88      Strategy 2018-01-01  0.000000
89  Visual Novel 2014-01-01  0.010000

[90 rows x 3 columns]

In [37]:
# Sort the aggregated results within each group
grouped.sort_values(by=['Global'])

               Genre       Year    Global
14         Adventure 2013-01-01  0.000000
21         Adventure 2020-01-01  0.000000
48            Puzzle 2014-01-01  0.000000
46          Platform 2020-01-01  0.000000
35              Misc 2020-01-01  0.000000
..               ...        ...       ...
67           Shooter 2015-01-01  1.595882
0             Action 2013-01-01  1.642500
66           Shooter 2014-01-01  1.750000
12  Action-Adventure 2018-01-01  2.273333
65           Shooter 2013-01-01  2.580000

[90 rows x 3 columns]

#  e.) Split a given dataframe into groups with bin counts.

In [43]:
# df.groupby(['Genre', pd.cut(df['Global'], 5)]): This part of the code groups the DataFrame 

# df by two columns: 'Genre' and a new column created using pd.cut(df['Global'], 5).

# The pd.cut function is used to bin the 'Global' column into 5 equal-width bins. 

# This results in grouping data based on both the 'Genre' and the bin (range of values)

# to which each 'Global' value belongs.

# grouped.size(): After grouping, the size() function is applied to count the number of 

grouped = df.groupby(['Genre', pd.cut(df['Global'],5)])



#After grouping, the size() function is applied to count the number of occurrences in each group.

grouped.size().unstack()

Global,"(-0.00872, 1.744]","(1.744, 3.488]","(3.488, 5.232]","(5.232, 6.976]","(6.976, 8.72]"
Genre,,,,,
Action,142,3,1,0,1
Action-Adventure,30,0,0,1,0
Adventure,47,0,0,0,0
Fighting,17,0,0,0,0
MMO,2,0,0,0,0
Misc,48,0,0,1,0
Music,14,0,0,0,0
Platform,32,0,0,0,0
Puzzle,11,0,0,0,0
Racing,44,2,1,0,0
Role-Playing,43,1,1,0,0
Shooter,50,12,6,1,1
Simulation,21,0,0,0,0
Sports,50,9,1,0,0
Strategy,18,0,0,0,0
Visual Novel,2,0,0,0,0